!!!
html
  head
    title= title
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Berkshire+Swash&text=ExpresCofBilrplat')
    link(rel='stylesheet', href='css/styles.css')
    script(src='js/libs/jquery-latest.min.js')
    script(src='js/app.js')
  body
    block content
