body
  background-color #ccc
  padding-top 50px
  text-align center

p
  font-size 24px
  text-shadow white 1px 1px 1px

h1
  font-size 48px
  font-family 'Berkshire Swash', cursive
  text-shadow white 0 0 16px, white 0 0 8px, white 0 0 4px